{% load static %}
<header class="header header--loggedIn">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo">
      <img src="{% static 'images/logo.svg' %}" />
      <h1>BROCAMP</h1>
    </a>
    {% if request.user.is_authenticated %}
    <form class="header__search" method="GET" action="{% url 'home' %}">
      <label>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>search</title>
          <path
            d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
          </path>
        </svg>

        <input name="q" placeholder="Search for rooms..." />


      </label>
    </form>
    {% endif %}
    <nav class="header__menu">

      <!-- Logged In -->
      {% if request.user.is_authenticated %}
      <div class="header__user">
        <a href="">
          <div class="avatar avatar--medium active">
            <img
              src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" />
          </div>
          <p><span>@{{request.user.username}}</span></p>
        </a>
        <button class="dropdown-button">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>
        </button>
      </div>
      {% else %}

      <!-- Not Logged In -->
      <a href="{% url 'login' %}">
        <img src="{% static 'images/avatar.svg' %}" />
        <p>Login</p>
      </a>
      {% endif %}

      <div class="dropdown-menu">
        {% if request.user.is_authenticated %}

        <a href="{% url 'logout' %}" class="dropdown-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
            width="32" height="32" viewBox="0 0 32 32">
            <title>log-out</title>
            <path
              d="M3 0h22c0.553 0 1 0 1 0.553l-0 3.447h-2v-2h-20v28h20v-2h2l0 3.447c0 0.553-0.447 0.553-1 0.553h-22c-0.553 0-1-0.447-1-1v-30c0-0.553 0.447-1 1-1z">
            </path>
            <path
              d="M21.879 21.293l1.414 1.414 6.707-6.707-6.707-6.707-1.414 1.414 4.293 4.293h-14.172v2h14.172l-4.293 4.293z">
            </path>
          </svg>
          Logout</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>


